@use "variabels" as v;
@use "mixins" as m;
@use "sass:color";

.info-card {
    width: 180px;
    height: 205px;
    padding: 20px 10px 0;
    border-radius: 20px;
    background-color: color.adjust(v.$color-white, $alpha: -0.85);

    @include m.d-flex(start, center, nowrap, column, 0, 10px);

    &__icon {
        width: 55px;
        height: 55px;

        & path {
            transition: all .3s;
        }
    }

    &__title {
        transition: all .3s;

        @include m.font(18px, 500, v.$color-black);
    }

    &__desc {
        text-align: center;
        transition: all .3s;

        @include m.font(16px, 300, v.$color-black);
    }

    &:hover {
        cursor: pointer;
        background-color: color.adjust(v.$color-white, $alpha: -0.90);

        .info-card__icon path {
            fill: v.$color-white;
        }

        .info-card__title {
            color: v.$color-white;
        }

        .info-card__desc {
            color: v.$color-white;
        }
    }

    @media (max-width: v.$media_xs) {
        width: 140px;
        height: 170px;

        &__title {
            @include m.font(14px, 400, v.$color-black);
        }

        &__desc {
            @include m.font(11px, 300, v.$color-black);
        }
    }
}

.experienc-card {
    position: relative;
    width: 322px;
    height: 295px;
    border-radius: 20px;
    background-color: color.adjust(v.$color-white, $alpha: -0.9);
    overflow: hidden;

    @include m.d-flex(center, center, nowrap, column);

    &__title {
        @include m.font(23px, 400, v.$color-white);
        @include m.d-flex(center, center, nowrap, column);

        max-width: 280px;
        text-align: center;
        height: 80px;
    }

    &__img {
        width: 323px;
        height: 215px;
    }

    &__arrow {
        @include m.pos(absolute, 1, -1, bottom, left, -25px, -75px);

        border-radius: 20px;
        width: 165px;
        height: 95px;
        background-color: v.$color-white;
        rotate: 7deg;

        & svg {
            rotate: -7deg;
            @include m.pos(absolute, 1, -1, top, right, 25px, 32px);
        }
    }

    &:hover {
        box-shadow: 0 0 50px 10px #5873b6;
        background-color: #5873b6;

        .experienc-card__arrow {
            transform: scale(1.5);
        }
    }
}