@use "variabels" as v;

%hover-black {
    &:hover {
        color: v.$color-black;
    }
}

%hover-white {
    &:hover {
        color: v.$color-white;
    }
}

%hover-black-icon {
    &:hover path{
        fill: v.$color-black;
    }
}